################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MvcDemo/bin
/MvcDemo/obj
/MvcDemo/wwwroot/lib
/MvcDemo/MvcDemo.csproj.user
/MvcDemo/appsettings.*.json
/MvcDemo/Logs
/MvcDemo/wwwroot/images/Original
/MvcDemo/Properties/PublishProfiles
