<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MvcDemo</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
	@RenderSection("Head", required: false)
</head>
<body>		
	@* Nav Bar *@
	<nav class="navbar navbar-toggleable-sm navbar-light md-faded">
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<a class="navbar-brand" href="~/">
			<img src="~/images/logo.png" width="50" height="50" alt="logo">
		</a>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item" is-active-route asp-controller="Home" asp-action="Index">
					<a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
				</li>
				<li class="nav-item" is-active-route asp-controller="Home" asp-action="About">
					<a class="nav-link" asp-controller="Home" asp-action="About">About</a>
				</li>
				<li class="nav-item" is-active-route asp-controller="Contact" asp-action="Index">
					<a class="nav-link" asp-controller="Contact" asp-action="Index">Contact</a>
				</li>
			</ul>
		</div>
	</nav>

	@* Banner *@
	<div class="banner d-flex justify-content-around">
		<a href="https://en.wikipedia.org/wiki/HTML5" target="_blank" title="HTML 5">
			<img id="html5" class="logos a" src="~/images/HTML5_Logo.png" data-toggle="tooltip" data-placement="bottom" title="HTML 5" alt="" />
		</a>
		<a href="https://en.wikipedia.org/wiki/Cascading_Style_Sheets" target="_blank" title="CSS 3">
			<img id="css3" class="logos" src="~/images/css3_logo.png" data-toggle="tooltip" data-placement="bottom" title="CSS 3" alt="" />
		</a>
		<a href="https://www.javascript.com/learn/javascript/strings" target="_blank" title="JavaScript">
			<img id="javascript" class="logos" src="~/images/javascript_logo.png" data-toggle="tooltip" data-placement="bottom" title="Java Script" alt="" />
		</a>
		<a href="https://jquery.com/" target="_blank" title="Jquery">
			<img id="jquery" class="logos" src="~/images/Jquery_logo.png" data-toggle="tooltip" data-placement="bottom" title="JQuery"  alt="" />
		</a>
		<a href="https://v4-alpha.getbootstrap.com/" target="_blank" title="Boostrap">
			<img id="boostrap4" class="logos" src="~/images/Boostrap_logo.png" data-toggle="tooltip" data-placement="bottom" title="Boostrap 4"  alt="" />
		</a>
		<a href="https://www.visualstudio.com/vs/whatsnew/" target="_blank" title="Visual Studio">
			<img id="visualstudio" class="logos" src="~/images/VisualStudio_logo.png" data-toggle="tooltip" data-placement="bottom" title="Visual Studio 2017"  alt="" />
		</a>
		<a href="https://www.microsoft.com/en-us/sql-server/sql-server-2016" target="_blank" title="SQL">
			<img id="sql" class="logos" src="~/images/SQL_logo.png" data-toggle="tooltip" data-placement="bottom" title="SQL Server"  alt="" />
		</a>
		<a href="http://knockoutjs.com/" target="_blank" title="Knockout">
			<img id="knockout" class="logos" src="~/images/knockout_logo.png" data-toggle="tooltip" data-placement="bottom" title="Knockout"  alt="" />
		</a>
		<a href="https://github.com/Danielsv98/MvcDemo" target="_blank" title="GitHub">
			<img id="github" class="logos" src="~/images/github_logo.png" data-toggle="tooltip" data-placement="bottom" title="GitHub"  alt="" />
		</a>
		<a href="https://www.getpostman.com/" target="_blank" title="Postman">
			<img id="postman" class="logos" src="~/images/Postman_logo.png" data-toggle="tooltip" data-placement="bottom" title="Postman"  alt="" />
		</a>
	</div>

	@* Body *@
	<div class="container body-content">
		<div id="errorMessage" class="alert alert-danger alert-dismissible fade show" role="alert" style="display: none;">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<strong>Error:</strong> We are investigating this issue.
		</div>

		@RenderBody()
	</div>

	@* Footer *@
	<footer class="footer">
		<span class="text-muted mx-3">2017</span>
	</footer>

	@* Scripts *@
	<script src="~/lib/jquery/dist/jquery.js"></script>
	<script src="~/lib/knockout/dist/knockout.js"></script>
	<script src="~/lib/tether/dist/js/tether.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
	<script src="~/lib/numeral/min/numeral.min.js"></script>
	<script src="~/lib/moment/min/moment.min.js"></script>
	<script src="~/lib/moment/locale/en-gb.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>

	@RenderSection("Scripts", required: false)
</body>
</html>
