<div class="widget card" id="gh_repos">
	<div class="card-header">
		GitHub Repositories
		<a class="widget-icon" href="#" data-toggle="modal" data-target="#Widget1Modal">
			<img src="~/images/settings.png" alt="settings">
		</a>
	</div>
	<div class="card-block" data-bind="template: { name: 'gh-repos-template' }">
		<img class="loading" src="~/images/loading.gif" alt="Loading" />
	</div>
</div>

@* Settings Modal *@
<div class="modal fade" id="Widget1Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form>
					<div class="form-group">
						<label for="txtCompany">Company</label>
						<input type="text" class="form-control" id="txtCompany" placeholder="Company" />
					</div>
					<div class="form-group required">
						<label for="txtEmail">Email Address</label>
						<input type="text" class="form-control" id="txtEmail" placeholder="Email@example.com" />
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Save changes</button>
			</div>
		</div>
	</div>
</div>

@* Template *@
<script type="text/html" id="gh-repos-template">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Name</th>
				<th>Owner</th>
				<th>Last Updated</th>
			</tr>
		</thead>
		<tbody data-bind="foreach: items">
			<tr>
				<td class="ellipse">
					<a data-bind="text: name, attr: { href: html_url }" target="_blank"></a>
				</td>
				<td data-bind="text: owner.login"></td>
				<td data-bind="text: moment(updated_at).format('L')"></td>
			</tr>
		</tbody>
	</table>
</script>