@{
    ViewData["Title"] = "Home";
}

<div class="row">
	<div class="col-sm-12 col-md-6 mt-2 mb-2">
		<div class="widget card" id="so_questions">
			<div class="card-header">
				Stack Overflow Questions
			</div>
			<div class="card-block">
				<img class="loading" src="~/images/loading.gif" alt="Loading" />
			</div>
		</div>
	</div>
	<div class="col-sm-12 col-md-6 mt-2 mb-2">
		<div class="widget card" id="so_users">
			<div class="card-header">
				Stack Overflow Top Users
			</div>
			<div class="card-block">
				<img class="loading" src="~/images/loading.gif" alt="Loading" />
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12 col-md-6 mt-2 mb-2">
		@* News Module *@
		<div class="widget card">
			<div class="card-header">
				Quote
			</div>
			<div class="card-block">
				<img class="loading" src="~/images/loading.gif" alt="Loading" />
			</div>
		</div>
	</div>
	<div class="col-sm-12 col-md-6 mt-2 mb-2">
		@* Q&A Module *@
		<div class="widget card">
			<div class="card-header">
				Quote
			</div>
			<div class="card-block">
				<img class="loading" src="~/images/loading.gif" alt="Loading" />
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12 col-md-6 mt-2 mb-2">
		@* News Module *@
		<div class="widget card">
			<div class="card-header">
				Quote
			</div>
			<div class="card-block">
				<img class="loading" src="~/images/loading.gif" alt="Loading" />
			</div>
		</div>
	</div>
	<div class="col-sm-12 col-md-6 mt-2 mb-2">
		@* Q&A Module *@
		<div class="widget card">
			<div class="card-header">
				Quote
			</div>
			<div class="card-block">
				<img class="loading" src="~/images/loading.gif" alt="Loading" />
			</div>
		</div>
	</div>
</div>
