@{
    ViewData["Title"] = "Home";
}

<div class="row">
	<div class="col-sm-12 col-md-6 mt-2 mb-2">
		<div class="widget card" id="so_questions">
			<div class="card-header">
				Stack Overflow Questions
			</div>
			<div class="card-block" data-bind="template: { name: 'so-questions-template' }">
				<img class="loading" src="~/images/loading.gif" alt="Loading" />
			</div>
		</div>
	</div>
	<div class="col-sm-12 col-md-6 mt-2 mb-2">
		<div class="widget card" id="so_users">
			<div class="card-header">
				Stack Overflow Top Users
			</div>
			<div class="card-block">
				<img class="loading" src="~/images/loading.gif" alt="Loading" />
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12 col-md-6 mt-2 mb-2">
		@* News Module *@
		<div class="widget card">
			<div class="card-header">
				Quote
			</div>
			<div class="card-block">
				<img class="loading" src="~/images/loading.gif" alt="Loading" />
			</div>
		</div>
	</div>
	<div class="col-sm-12 col-md-6 mt-2 mb-2">
		@* Q&A Module *@
		<div class="widget card">
			<div class="card-header">
				Quote
			</div>
			<div class="card-block">
				<img class="loading" src="~/images/loading.gif" alt="Loading" />
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12 col-md-6 mt-2 mb-2">
		@* News Module *@
		<div class="widget card">
			<div class="card-header">
				Quote
			</div>
			<div class="card-block">
				<img class="loading" src="~/images/loading.gif" alt="Loading" />
			</div>
		</div>
	</div>
	<div class="col-sm-12 col-md-6 mt-2 mb-2">
		@* Q&A Module *@
		<div class="widget card">
			<div class="card-header">
				Quote
			</div>
			<div class="card-block">
				<img class="loading" src="~/images/loading.gif" alt="Loading" />
			</div>
		</div>
	</div>
</div>

<script type="text/html" id="so-questions-template">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Title</th>
				<th>Answers</th>
			</tr>
		</thead>
		<tbody data-bind="foreach: items">
			<tr>
				<td>
					<a  data-bind="text: title, attr: { href: link }" class="ellipse" target="_blank"></a>
				</td>
				<td data-bind="text: answer_count"></td>
			</tr>
		</tbody>
	</table>
</script>