@model MvcDemo.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Home";
}

<div class="row">
	<div class="col-sm-12 col-md-6 mt-2 mb-2">
		@await Html.PartialAsync("_StackOverflowQuestionsWidget")
	</div>
	<div class="col-sm-12 col-md-6 mt-2 mb-2">
		@await Html.PartialAsync("_StackOverflowUsersWidget")
	</div>
</div>
<div class="row">
	<div class="col-sm-12 col-md-6 mt-2 mb-2">
		@await Html.PartialAsync("_GitHubRepositoriesWidget")
	</div>
	<div class="col-sm-12 col-md-6 mt-2 mb-2">
		@await Html.PartialAsync("_CountriesFilterWidget")
	</div>
</div>
<div class="row">
	<div class="col-sm-12 col-md-6 mt-2 mb-2">
		<div class="widget card">
			<div class="card-header">
				Quote
			</div>
			<div class="card-block">
				<img class="loading" src="~/images/loading.gif" alt="Loading" />
			</div>
		</div>
	</div>
	<div class="col-sm-12 col-md-6 mt-2 mb-2">
		<div class="widget card">
			<div class="card-header">
				Quote
			</div>
			<div class="card-block">
				<img class="loading" src="~/images/loading.gif" alt="Loading" />
			</div>
		</div>
	</div>
</div>

@section Scripts {
	<script type="text/javascript">
		var stackOverflowApi = '@Model.Settings.StackOverflowApi';
		var gitHubApi = '@Model.Settings.GitHubApi';
		var demoApi = '@Model.Settings.DemoApi';
		var countriesApi = '@Model.Settings.CountriesApi';
	</script>
	<script src="~/js/home.js" asp-append-version="true"></script>
}
