@{
    ViewData["Title"] = "Home";
}

<div class="row">
	<div class="col-sm-12 col-md-6 mt-2 mb-2">
		@await Html.PartialAsync("_StackOverflowQuestionsWidget")
	</div>
	<div class="col-sm-12 col-md-6 mt-2 mb-2">
		@await Html.PartialAsync("_StackOverflowUsersWidget")
	</div>
</div>
<div class="row">
	<div class="col-sm-12 col-md-6 mt-2 mb-2">
		@await Html.PartialAsync("_GitHubRepositoriesWidget")
	</div>
	<div class="col-sm-12 col-md-6 mt-2 mb-2">
		<div class="widget card">
			<div class="card-header">
				Quote
			</div>
			<div class="card-block">
				<img class="loading" src="~/images/loading.gif" alt="Loading" />
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12 col-md-6 mt-2 mb-2">
		<div class="widget card">
			<div class="card-header">
				Quote
			</div>
			<div class="card-block">
				<img class="loading" src="~/images/loading.gif" alt="Loading" />
			</div>
		</div>
	</div>
	<div class="col-sm-12 col-md-6 mt-2 mb-2">
		<div class="widget card">
			<div class="card-header">
				Quote
			</div>
			<div class="card-block">
				<img class="loading" src="~/images/loading.gif" alt="Loading" />
			</div>
		</div>
	</div>
</div>

<script type="text/html" id="so-users-template">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>User Name</th>
				<th class="ED_Users_Age">Age</th>
				<th class="ED_Users_Reputation">Reputation</th>
			</tr>
		</thead>
		<tbody data-bind="foreach: items">
			<tr>
				<td class="ellipse">
					<a data-bind="text: display_name, attr: { href: link }" target="_blank"></a>
				</td>
				<td class="ED_Users_Age" data-bind="text: age"></td>
				<td class="ED_Users_Reputation" data-bind="text: reputation"></td>
			</tr>
		</tbody>
	</table>
</script>

@section Scripts {
	<script src="~/js/home.js" asp-append-version="true"></script>
}
