/* Navbar */
.navbar {
	font-family: Georgia, 'Times New Roman', Times, serif;
	width: 100%;
	top: 0;
	z-index: 10;
	background-color: rgb(115, 203, 230);
	box-shadow: 8px 8px 6px -6px #999;
	padding: 0;
	height: 50px;
}

.navbar-brand {
	margin-right: 1rem;
	margin-left: 1rem;
}

.navbar-light .navbar-nav .nav-link {
	color: #fff;
	display: block;
	padding: 0 12px;
	height: 50px;
	text-align: center;
	line-height: 50px;
}

.nav-item.active {
	background-color: rgba(33, 40, 113, 0.46);
}

	.nav-item.active > .nav-link {
		color: #fff !important;
	}

.collapse.show {
	display: block;
	background-color: #1194bb;
	box-shadow: 8px 8px 6px -6px #999;
}

/* Tag Cloud */
.banner {
	padding: 50px 20px;
	background: #fdfdfd;
	border-bottom: 1px solid #f5f1f1;
	box-shadow: 2px 5px 11px -9px rgba(0,0,0,0.3);
}

.banner .logos {
	max-height: 100px;
}

@media (max-width: 991px) {
	.banner .logos {
		max-height: 80px;
	}
}

@media (max-width: 767px) {
	.banner .logos {
		max-height: 60px;
	}
}

@media (max-width: 453px) {
	.banner .logos {
		max-height: 45px;
	}
}

@media (max-width: 351px) {
	.banner .logos {
		max-height: 25px;
	}
}

/* Body */
.body-content {
	margin-top: 20px;
	padding-bottom: 10px;
}

/* Widget */
.card {
	box-shadow: 8px 8px 6px -6px #999;
	border: 1px solid rgba(150, 125, 125, 0.59);
}

.widget .card-header {
	font-family: Georgia, 'Times New Roman', Times, serif;
	background-color:rgb(115, 203, 230);
	border-top-right-radius: 0.20rem;
	border-top-left-radius: 0.20rem;
}

	.widget .card-header .widget-icon {
		position: absolute;
		top: 0;
		right: 0;
		padding: 8.5px;
	}

	.widget .card-header .widget-icon img {
		width: 30px;
		height: 30px;
	}

.widget .card-block {
	padding: 0;
	height: 295px;
}

	.widget .card-block img.loading {
		height: 100px;
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-top: 85px;
	}

.widget table {
	margin-bottom: 0;
	table-layout: fixed;
}

.widget .card-header .btn-primary {
	background-color: #5d5cff;
	border-color: unset;
}


.ED_Answer_Title {
	width: 20%;
	text-align: center;
}

.ED_Answer_Count {
	text-align: center;
}

.ED_Users_Age {
	width: 20%;
	text-align: center;
}

.ED_Users_Reputation {
	text-align: center;
}

@media (max-width: 991px) {
	.ED_Answer_Title {
		width: 25%;
		text-align: center;
	}
	.ED_Answer_Count {
		text-align: center;
	}
}

@media (max-width: 450px) {

	.ED_Answer_Title {
		width: 35%;
		text-align: center;
	}
	.ED_answer_count {
		text-align: center;
	}
}

@media (max-width: 350px) {

	.ED_Answer_Title {
		width: 28%;
		text-align: center;
	}
	.ED_answer_count {
		text-align: center;
	}
}

/* Footer */
.footer {
	position: relative;
	bottom: 0;
	width: 100%;
	height: 30px;
	line-height: 30px;
	background-color: #f5f5f5;
}

	.footer .container {
		width: auto;
		max-width: 680px;
		padding: 0 15px;
	}

/* Form */
.required label::after {
	content: "*";
	color: #FF0000;
	margin-left: 3px;
}

fieldset {
	font-family: Georgia, 'Times New Roman', Times, serif;
	background-color: #f1f1f1;
	padding: 0.01em 16px;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;
	border: 1px solid rgba(0, 0, 0, 0.17);
}

fieldset .btn-primary {
	margin-bottom: 20px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

form label:not(.form-check-label) {
	font-weight: bold;
}

@media (max-width: 767px) {

	.contactImage img.img-fluid {
		display: none;
	}
}

/* Validation */
.form-control-feedback {
	display: none;
}

.input-validation-error {
	border-color: #FF0000;
}

.field-validation-error {
	display: block;
	color: #FF0000;
}

/* Helpers */
.ellipse {
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
