/* Navbar */
.navbar {
	font-family: Georgia, 'Times New Roman', Times, serif;
	width: 100%;
	top: 0;
	z-index: 10;
	background-color: #5bc0de;
	background: linear-gradient(rgb(91, 192, 222), #bff0ff);
	box-shadow: 8px 8px 6px -6px #999;
	padding: 0;
	height: 50px;
}

.navbar-brand {
	margin-right: 1rem;
	margin-left: 1rem;
}

.navbar-light .navbar-nav .nav-link {
	color: #f7f7f9;
	display: block;
	padding: 0 12px;
	height: 50px;
	text-align: center;
	line-height: 50px;
}

.nav-item.active {
	background-color: #a2dbec;
	background: linear-gradient(rgb(115, 203, 230), rgb(243, 247, 247));
	box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.25);
}

.collapse.show {
	display: block;
	background-color: #1194bb;
	box-shadow: 8px 8px 6px -6px #999;
}

/* Body */
.body-content {
	margin-top: 20px;
	padding-bottom: 10px;
}

/* Cards */
.card {
	box-shadow: 8px 8px 6px -6px #999;
	border: 1px solid rgba(150, 125, 125, 0.59);
}

.card-header {
	color: #000000;
	font-family: Georgia, 'Times New Roman', Times, serif;
	background-color: #5bc0de;
	background: linear-gradient(rgb(91, 192, 222), #bff0ff);
	border-bottom: 1px solid rgb(190, 208, 169);
}


/* Widget */
.widget .card-block {
	padding: 0;
	height: 295px;
}

	.widget .card-block img.loading {
		height: 100px;
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-top: 85px;
	}

.widget table {
	margin-bottom: 0;
	table-layout: fixed;
}


.ED_Answer_Title {
	width: 20%;
	text-align: center;
}
.ED_answer_count {
	text-align: center;
}

.ED_Users_Age {
	width: 20%;
	text-align: center;
}

.ED_Users_Reputation {
	text-align: center;
}

@media (max-width: 990px) {
	.ED_Answer_Title {
		width: 25%;
		text-align: center;
	}
	.ED_answer_count {
		text-align: center;
	}
}

@media (max-width: 450px) {

	.ED_Answer_Title {
		width: 35%;
		text-align: center;
	}
	.ED_answer_count {
		text-align: center;
	}
}

@media (max-width: 350px) {

	.table th, .table td {
		padding: 0rem;
	}
	.ED_Answer_Title {
		width: 28%;
		text-align: center;
	}
	.ED_answer_count {
		text-align: center;
	}
}

/* Footer */
.footer {
	position: relative;
	bottom: 0;
	width: 100%;
	height: 30px;
	line-height: 30px;
	background-color: #f5f5f5;
}

	.footer .container {
		width: auto;
		max-width: 680px;
		padding: 0 15px;
	}

/* Form */
.required label::after {
	content: "*";
	color: #FF0000;
	margin-left: 3px;
}

fieldset {
	font-family: Georgia, 'Times New Roman', Times, serif;
	background-color: #f1f1f1;
	padding: 0.01em 16px;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;
	border: 1px solid rgba(0, 0, 0, 0.17);
}

.btn-success {
	margin-bottom: 20px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* Validation */
.form-control-feedback {
	display: none;
}

.input-validation-error {
	border-color: #FF0000;
}

.field-validation-error {
	display: block;
	color: #FF0000;
}

/* Helpers */
.ellipse {
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
