@{
	ViewData["Title"] = "About";
}

<div class="container cv">
	<div class="row">
		<div class="cv-profile-photo col-md-4">
			<img class="rounded" src="~/images/profile-photo.jpg" width="200" height="200" alt="">
		</div>
		<div class="cv-name col-12 col-md-8">
			<h1>Daniel Sarabia Viera</h1>
			<div class="cv-info mt-4">
				<div class="row">
					<div class="col-12 col-sm-4"><b>Living in:</b></div>
					<div class="col-12 col-sm-8">Basingstoke, Hampshire, United Kingdom</div>
				</div>
				<div class="row">
					<div class="col-12 col-sm-4"><b>Nationality:</b></div>
					<div class="col-12 col-sm-8">Spanish</div>
				</div>
				<div class="row">
					<div class="col-12 col-sm-4"><b>Date of Birth:</b></div>
					<div class="col-12 col-sm-8">09/10/1989</div>
				</div>
				<div class="row">
					<div class="col-12 col-sm-4"><b>Contact Phone:</b></div>
					<div class="col-12 col-sm-8">07401226733</div>
				</div>
				<div class="row">
					<div class="col-12 col-sm-4"><b>Email Address:</b></div>
					<div class="col-12 col-sm-8">DanielSarabia89@gmail.com</div>
				</div>
			</div>
		</div>
	</div>
	<div class="cv-headers rounded row mt-5 mb-3">
		<h3>Personal Statement</h3>
	</div>
	<div class="row">
		<p>
			I graduated this year as an Automation Engineer and during my time at University I became to realize that programming
			was what I enjoyed the most. For my work-experience I decided to do something related with software development
			so I joined a company where I could learn the most important technologies to become a professional on this field.

			I am looking for a job that allows me to keep growing professionally and be part of a team where I can contribute with my knowledge
			and enthusiasm. I am a polite, responsible, reliable and hardworking person.
		</p>
	</div>
	<div class="cv-headers rounded row mt-3 mb-3">
		<h3>Skills</h3>
	</div>
	<div class="row">
		<Ul>
			<li>Understanding of OOP (Object-oriented programming) using Visual Studio 2017 ASP.Net Core MVC (Model-View-Controller).</li>
			<li>Knowledge in frontend development (HTML5, CSS3, JavaScript, Bootstrap 4).</li>
			<li>A good understanding of mobile-first and responsive web design.</li>
			<li>Knowledge using a version control system such as Git to work as part of a team.</li>
			<li>Knowledge of Ajax for asynchronous requests without interfering with the display and behaviour of the existing page.</li>
			<li>Some practice using web services (REST API’s).</li>
			<li>Basic understanding of relational database concepts.</li>
		</Ul>
	</div>
	<div class="cv-headers rounded row mt-3 mb-3">
		<h3>Work History</h3>
	</div>
	<div class="row">
		<div class="col-12">
			<ul>
				<li>
					June 2017 - August 2017. Fundación Universidad de la Laguna (work-experience contract).
					<p class="pl-3">
						Software Developer
					</p>
					<p class="pl-3">
						Working under the supervision of a Senior Developer I learned how to use C#, MVC Core, jQuery, 
						Knockout, Bootstrap and other technologies. I spent most of my time fixing bugs and coding 
						new features.
					</p>
				</li>
				<li class="mt-2">
					Summer 2017. ThyssenKrupp Elevators.
					<p class="pl-3">
						Maintenance Technician
					</p>
					<p class="pl-3">
						I performed the maintenance protocols established by the company in elevators and escalators
						of several clients in a certain area.
					</p>
				</li>
				<li class="mt-2">
					2011. MRW International Courier. 
					<p class="pl-3">
						Administrative Assistant
					</p>
					<p class="pl-3">
						I used the company's application to carry out customer shipments, and manage the packages
						for the courier collection.
					</p>
				</li>
				<li class="mt-2">
					2010. Cabrera Adviser's Office. 
					<p class="pl-3">
						Administrative Assistant
					</p>
					<p class="pl-3">
						Assist with the forms and other administrative tasks, as well as present me in the offices
						of the clients to keep them informed and give them the new documentation.
					</p>
				</li>
			</ul>
		</div>
	</div>
	<div class="cv-headers rounded row mt-3 mb-3">
		<h3>Education</h3>
	</div>
	<div class="row">
		<div class="col-12">
			<ul>
				<li>
					2011 – 2017	La Laguna University, Tenerife, Spain
					<p class="pl-3">Degree in Industrial Electronic and Automation Engineering</p>
				</li>
				<li class="mt-2">
					2008 – 2010	Gran Tarajal Secondary School, Fuerteventura, Spain
					<p class="pl-3">Higher National Certificate level in Business Administration</p>
				</li>
			</ul>
		</div>
	</div>
	<div class="cv-headers rounded row mt-3 mb-3">
		<h3>Technical Skills</h3>
	</div>
	<div class="row">
		<div class="col-12 col-md-4">
			<h4><b>Developer</b></h4>
			<ul>
				<li>C#</li>
				<li>Visual Studio 2017</li>
				<li>jQuery</li>
				<li>Javascript</li>
				<li>HTML5</li>
				<li>CSS3</li>
				<li>Bootstrap</li>
				<li>Knockout.js</li>
				<li>Git</li>
				<li>SQL Server 2016</li>
				<li>SQL / T-SQL</li>
				<li>.Net Core</li>
				<li>MVC</li>
				<li>Postman</li>
				<li>Web API</li>
				<li>Azure</li>
			</ul>
		</div>
		<div class="col-12 col-md-4">
			<h4><b>Engineer Tools</b></h4>
			<ul>
				<li>Simulink</li>
				<li>Dialux</li>
				<li>Matlab</li>
				<li>LabView</li>
				<li>Autocad</li>
				<li>STEP7</li>
				<li>Rockwell arena</li>
				<li>Microsoft Office (Word, Exel, PowerPoint)</li>
			</ul>
		</div>
	</div>
</div>


