@model MvcDemo.ViewModels.AboutViewModel

@{
	ViewData["Title"] = "About";
}

<div class="container cv">
	<div class="row">
		<div class="cv-profile-photo col-md-4">
			PHOTO
		</div>
		<div class="cv-name col-12 col-md-8">
			<h1>Daniel Sarabia Viera</h1>
			<div class="cv-info mt-4">
				<div class="row">
					<div class="col-12 col-sm-4"><b>Living in:</b></div>
					<div class="col-12 col-sm-8">Basingstoke, Hampshire, United Kingdom</div>
				</div>
				<div class="row">
					<div class="col-12 col-sm-4"><b>Born in:</b></div>
					<div class="col-12 col-sm-8">Canary Islands, Spain</div>
				</div>
				<div class="row">
					<div class="col-12 col-sm-4"><b>Date of Birth:</b></div>
					<div class="col-12 col-sm-8">09/10/1989</div>
				</div>
				<div class="row">
					<div class="col-12 col-sm-4"><b>Contact Phone:</b></div>
					<div class="col-12 col-sm-8">07401226733</div>
				</div>
				<div class="row">
					<div class="col-12 col-sm-4"><b>Email Adress:</b></div>
					<div class="col-12 col-sm-8">DanielSarabia89@gmail.com</div>
				</div>
			</div>
		</div>
	</div>
	<div class="cv-headers row mt-5">
		<h3>Personal Statement</h3>
	</div>
	<div class="row">
		<p>
			I am a polite, responsible, reliable and hardworking person. When I finished my degree I discovered my passion
			learning the basics of MVC core .Net and now I try to improve every day my skills in this field. But I know 
			that Web develop is a very dynamic field that is constantly being enhanced and changed that is why im open 
			to learn new technologies.
		</p>
		<p>
			Im looking for a job when I can keep improving my skills as a software developer. I can contribute with 
			enthusiasm and
		</p>
	</div>
	<div class="cv-headers row mt-3">
		<h3>Work History</h3>
	</div>
	<div class="row">
		<div class="col-12">
			<ul>
				<li>2017 Fundación Universidad de la Laguna. Software Developer
				<p class="pl-3"></p> 
				</li>
				
				<li>
					2016 ThyssenKrupp Elevators. Maintenance Technician
					<p class="pl-3">
					</p>
				</li>
				<li>2011 – 2012 MRW International Courier. Administrative Assistant
					<p class="pl-3">
					</p>
				</li>
				<li>
					2010 – 2011 Cabrera Adviser's Office. Administrative Assistant<
					<p class="pl-3">
					</p>
				</li>
			</ul>
		</div>
	</div>
	<div class="cv-headers row mt-3">
		<h3>Education</h3>
	</div>
	<div class="row">
		<div class="col-12">
			<ul>
				<li>2012 – 2017	La Laguna University, Tenerife, Spain 
				<p class="pl-3">Degree in Industrial Electronic and Automation Engineering</p> 
				</li>
				<li>2008 – 2010	Gran Tarajal Secondary School, Fuerteventura, Spain
				<p class="pl-3">Higher National Certificate level in Business Administration</p>
				</li>
			</ul>
		</div>
	</div>
</div>